extends layout
block content
 if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
 if (user)
  p You are currentlys logged in as #{user.username}
  a(href="/vegetables") Take me to vegetables
  br
  a(href="/logout") Logout