extends layout
block content
 h1= title
 form(id='VegetableForm', action="/resource/vegetables", method="POST")
  div.form-group
   label.vegetableAttr(for='vegetableName') Vegetable Name
   input#vegetableName(type='text', name='vegetableName')
  div.form-group
   label.vegetableAttr(for='vegetableCost') Vegetable Cost
   input#vegetableCost(type='number', name='vegetableCost')
  div.form-group
   label.vegetableAttr(for='vegetableColour') Vegetable Colour
   input#vegetableColour(type='text', name='vegetableColour')
  input(type="submit")
 script.
  document.forms['VegetableForm'].addEventListener('submit', (event) => {
  event.preventDefault();
  // TODO do something here to show user that form is being submitted
  fetch(event.target.action, {
  method: 'POST',
  body: new URLSearchParams(new FormData(event.target)) // event.target is the form
  }).then((resp) => {
  return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
  alert("Save succeded")
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
  alert("Save failed " + error )
  });
  });
